@use 'styles/theme.scss';

.modalContainer {
	background-color: rgba(theme.color(grey05), 0.7);
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
}

.closeContainer {
	position: absolute;
	right: 10px;
	top: 12px;
}

.modal {
	background-color: theme.color(white);
	border: 1px solid theme.color(grey20);
	border-radius: 3px;
	padding: 20px;
	position: relative;
	text-align: center;
}
