@use './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: variables.$font-primary;
}

p {
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
}

* {
  box-sizing: border-box;
}
